<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <!-- Main -->

    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Dependencies -->
    <script src="./node_modules/react/umd/react.development.js"></script>
    <script src="./node_modules/react-dom/umd/react-dom.development.js"></script>

</head>

<body id="bodyContent">

</body>

</html>
<!-- Dependencies -->
<script src="./dist/bundle.js"></script>